<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Trending Quote</h2>
        <a><p class="snippet"><%= data %></p></a>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>
