  
<html lang="en">
    <%- include("./partials/head.ejs") %>
    
    <body>
      <%- include("./partials/nav.ejs") %>
    
      <div class="about content">
        <h2>About Us</h2>
        <p>We are a group of egyptian fashion designers under the supervision of the experienced fashion designer Ebtissam Eissa.</p>
        <p>This blog was created and updated by our CEO Reem Eissa, after the success noticed on our Instagram to the blog reviews.</p>
        <p>Looking forward to see you soon, and we hope you enjoy wearing our designs as much as we enjoyed designing them for you.</p>
      </div>
    
      <%- include("./partials/footer.ejs") %>
    </body>
    </html>